<a href="https://colab.research.google.com/github/1witsarut/BSC_DPDM2025/blob/main/Data_mining_MID_663020296_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
import pandas as pd
historical_daily_rainfall = pd.read_csv('/content/drive/MyDrive/BSC_DPDM2025/mid/Daily rain - (Statistics 2012-2024)/hii_daily_rain.csv')

In [26]:
historical_daily_rainfall.head()

,station_code,measure_datetime,data,station_name,latitude,longitude,quality_flag,basin,sub_basin,tambon,amphoe,province,data_type
0,ABRT,2012-01-01 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
1,ABRT,2012-01-03 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
2,ABRT,2012-01-06 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
3,ABRT,2012-01-07 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
4,ABRT,2012-01-08 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.66429,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily

อธิบายคอลัมน์

station_code: รหัสประจำสถานีในรูปแบบตัวอักษร (เช่น ABRT, ACRU)

measure_datetime: วันและเวลาที่ทำการบันทึกข้อมูลย้อนหลัง (ครอบคลุมช่วงปี 2012-2024)

data: ปริมาณน้ำฝนที่วัดได้จริงในอดีต (หน่วยมิลลิเมตร)

station_name: ชื่อเต็มของสถานีตรวจวัดอากาศ (เช่น วัดเวฬุวัน)

latitude / longitude: ค่าพิกัดทางภูมิศาสตร์ (ละติจูดและลองจิจูด) ของสถานีนั้นๆ

province / amphoe / tambon: ข้อมูลที่ระบุตำแหน่งการปกครอง ได้แก่ จังหวัด, อำเภอ และตำบล ของที่ตั้งสถานี

basin / sub_basin: ข้อมูลลุ่มน้ำและลุ่มน้ำสาขาที่สถานีนั้นตั้งอยู่

data_type: เป็นคอลัมน์ที่ใช้ระบุ "ประเภทหรือความถี่ของการจัดเก็บข้อมูล"

In [41]:
Output_monthly_rainfall = pd.read_csv('/content/drive/MyDrive/BSC_DPDM2025/mid/Output - (Clean monthly rain - 2025)/Y_monthly_rain_HII_operation.csv')

In [42]:
Output_monthly_rainfall.head(10)

   Node   rain  month  year
0  ACRU   83.0      7  2025
1  ACRU  164.8      8  2025
2  ACRU  248.6      9  2025
3  ACRU   48.4     10  2025
4  ACRU   52.2     11  2025
5  ACRU    0.2     12  2025
6  BBHN  391.6      7  2025
7  BBHN  641.2      8  2025
8  BBHN  517.6      9  2025
9  BBHN  198.8     10  2025

อธิบายคอลัมน์

Node	รหัสประจำสถานีตรวจวัด	Object

rain	ผลรวมของปริมาณน้ำฝนในเดือนนั้นๆ (หน่วยมิลลิเมตร)

month	ลำดับของเดือน (7-12) ที่ทำการสรุปผล

year	ปี ค.ศ. ที่ทำการจัดเก็บข้อมูล (2025)	Int

In [27]:
Station_in_the_model_Hii = pd.read_csv('/content/drive/MyDrive/BSC_DPDM2025/mid/Input - (Operation Daily rain from API_ 2025)/Stations in the model_HII.csv')

In [34]:
Station_in_the_model_Hii.head()

   Node        Lat        Long
0  ACRU  15.788054  104.642235
1  BBHN   9.536913   98.579490
2  BBUA  17.372976  103.984436
3  BCNG  17.386840  103.290870
4  BDAR  14.587073  102.495190

คำอธิบายคอลัมน์

Node: รหัสประจำสถานี (เช่น ACRU, BBHN)

lat / long: ค่าพิกัดทางภูมิศาสตร์ (ละติจูดและลองจิจูด) ของสถานีนั้นๆ

In [31]:
import pandas as pd
import glob
import os

# 1. กำหนด Path หลักของโฟลเดอร์ Input (อ้างอิงจากโฟลเดอร์ที่คุณมี)
base_path = '/content/drive/MyDrive/BSC_DPDM2025/mid/Input - (Operation Daily rain from API_ 2025)'

# 2. ดึงรายชื่อไฟล์ .csv ทั้งหมดจากทุกโฟลเดอร์ย่อย
all_files = glob.glob(os.path.join(base_path, "**/*.csv"), recursive=True)

df_list = []

print(f"กำลังเริ่มอ่านไฟล์ทั้งหมด {len(all_files)} ไฟล์...")

for f in all_files:
    # อ่านไฟล์ (ใช้ error_bad_lines=False หากบางไฟล์มีโครงสร้างแถวผิดปกติ)
    temp_df = pd.read_csv(f)

    # เลือกเฉพาะคอลัมน์ที่จำเป็น:
    # - rainfall_datetime: วันที่
    # - rainfall_value: ค่าน้ำฝน
    # - tele_station_oldcode: รหัสสถานีแบบตัวอักษร (เพื่อเอาไปเทียบกับไฟล์ Station Master และ Historical)
    required_cols = ['rainfall_datetime', 'rainfall_value', 'tele_station_oldcode']

    # ตรวจสอบว่าไฟล์มีคอลัมน์ครบตามต้องการไหม
    if all(col in temp_df.columns for col in required_cols):
        # เก็บเฉพาะคอลัมน์ที่เลือก และลบแถวที่รหัสสถานีเป็นค่าว่าง
        clean_temp = temp_df[required_cols].dropna(subset=['tele_station_oldcode'])
        df_list.append(clean_temp)

# 3. รวมข้อมูลทั้งหมดเข้าด้วยกัน
df_input = pd.concat(df_list, ignore_index=True)

# 4. แปลงคอลัมน์วันที่ให้เป็นรูปแบบ Datetime เพื่อใช้คำนวณในข้อถัดไป
df_input['rainfall_datetime'] = pd.to_datetime(df_input['rainfall_datetime'])

# --- แสดงผลลัพธ์ข้อ 1 ---
print("\n--- สรุปโครงสร้างข้อมูลข้อ 1 ---")
print(df_input.info())
display(df_input.head())

กำลังเริ่มอ่านไฟล์ทั้งหมด 188 ไฟล์...

--- สรุปโครงสร้างข้อมูลข้อ 1 ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168021 entries, 0 to 168020
Data columns (total 3 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   rainfall_datetime     168021 non-null  datetime64[ns, UTC+07:00]
 1   rainfall_value        168017 non-null  float64
 2   tele_station_oldcode  168021 non-null  object
dtypes: datetime64[ns, UTC+07:00](1), float64(1), object(1)
memory usage: 3.8+ MB
None

          rainfall_datetime  rainfall_value tele_station_oldcode
0 2025-10-26 00:00:00+07:00             0.0               TRD006
1 2025-10-26 00:00:00+07:00             0.0                 MNDM
2 2025-10-26 00:00:00+07:00             0.0                 POCE
3 2025-10-26 00:00:00+07:00             0.0               TRD005
4 2025-10-26 00:00:00+07:00             4.8                 KSOD

อธิบายคอลัม

rainfall_datetime:ความหมาย: วันและเวลาที่ทำการบันทึกข้อมูลการวัดน้ำฝน

rainfall_value:ความหมาย: ปริมาณน้ำฝนที่วัดได้จริง ณ สถานีนั้นๆ มีหน่วยเป็น มิลลิเมตร (mm)

tele_station_oldcode:ความหมาย: รหัสประจำสถานีตรวจวัดอากาศในรูปแบบตัวอักษร (เช่น ACRU, BBHN)

ข้อ2

In [32]:
# --- ข้อ 2: กรองข้อมูลสถานี ---
# 1. อ่านไฟล์สถานี Master
path_station_model = '/content/drive/MyDrive/BSC_DPDM2025/mid/Input - (Operation Daily rain from API_ 2025)/Stations in the model_HII.csv'
df_stations_master = pd.read_csv(path_station_model)

# 2. กรองเฉพาะสถานีที่มี Node ตรงกับ tele_station_oldcode ในข้อมูลหลัก
df_filtered = df_input[df_input['tele_station_oldcode'].isin(df_stations_master['Node'])].copy()

print(f"จำนวนสถานีก่อนกรอง: {df_input['tele_station_oldcode'].nunique()}")
print(f"จำนวนสถานีหลังกรอง: {df_filtered['tele_station_oldcode'].nunique()}")

จำนวนสถานีก่อนกรอง: 1514
จำนวนสถานีหลังกรอง: 384

ข้อ3

In [36]:
# --- ข้อ 3: ตรวจสอบข้อมูลสูญหาย ---

# 1. เช็ค missing value ในคอลัมน์น้ำฝน (แบบที่เรียนมา: .isnull().sum())
print("จำนวน Missing ในคอลัมน์น้ำฝน:")
print(df_filtered['rainfall_value'].isnull().sum())

# 2. เช็ค 'วันที่' ที่หายไป (Record ที่หายไป)
expected_days = 184
df_filtered['date_only'] = df_filtered['rainfall_datetime'].dt.date

# สร้างตารางสรุปการส่งข้อมูลรายสถานี
summary = df_filtered.groupby('tele_station_oldcode')['date_only'].nunique().reset_index()
summary.columns = ['Node', 'actual_days']

# คำนวณจำนวนวันที่หายไปและสัดส่วนเปอร์เซ็นต์
summary['missing_count'] = expected_days - summary['actual_days']
summary['missing_ratio'] = (summary['missing_count'] / expected_days) * 100

print("\n--- สรุปข้อมูลสูญหายรายสถานี (ข้อ 3) ---")
display(summary.head())

จำนวน Missing ในคอลัมน์น้ำฝน:
1

--- สรุปข้อมูลสูญหายรายสถานี (ข้อ 3) ---

   Node  actual_days  missing_count  missing_ratio
0  ACRU          184              0       0.000000
1  BBHN          184              0       0.000000
2  BBUA          169             15       8.152174
3  BCNG          184              0       0.000000
4  BDAR          184              0       0.000000

ข้อ4

In [37]:
# 1. หารายชื่อสถานีที่ต้องถูก Drop (ตามเกณฑ์ missing_ratio >= 20)
drop_list = summary[summary['missing_ratio'] >= 20]['Node'].tolist()

# 2. กรองข้อมูลให้เหลือเฉพาะสถานีที่ผ่านเกณฑ์ (ข้อมูลหาย < 20%)
# ใช้ตัวแปร df_filtered ที่คุณรันผ่านแล้วมาทำต่อครับ
df_ready = df_filtered[~df_filtered['tele_station_oldcode'].isin(drop_list)].copy()

print(f"จำนวนสถานีที่ถูกคัดออก: {len(drop_list)} สถานี")
print(f"คงเหลือสถานีที่นำไปวิเคราะห์ต่อ: {df_ready['tele_station_oldcode'].nunique()} สถานี")

จำนวนสถานีที่ถูกคัดออก: 45 สถานี
คงเหลือสถานีที่นำไปวิเคราะห์ต่อ: 339 สถานี

In [43]:
# --- ส่วนเพิ่มเติมของข้อ 4: แสดงรายชื่อสถานีที่ถูกคัดออก ---

# 1. ดึงรายชื่อสถานีที่อยู่ใน drop_list มาแสดง
print(f"--- รายชื่อสถานีที่ถูกคัดออกทั้งหมด ({len(drop_list)} สถานี) ---")
print("-" * 50)

# แสดงรายชื่อสถานี แบ่งกลุ่มละ 10 ชื่อเพื่อให้ตรวจสอบง่าย
for i in range(0, len(drop_list), 10):
    print(", ".join(drop_list[i:i+10]))

print("-" * 50)

# 2. แสดงตารางสรุปสถานีที่ถูกคัดออกพร้อมเปอร์เซ็นต์ข้อมูลที่หายไป (เพื่อเป็นหลักฐานยืนยัน)
removed_summary = summary[summary['missing_ratio'] >= 20].sort_values('missing_ratio', ascending=False)
display(removed_summary[['Node', 'actual_days', 'missing_ratio']])

--- รายชื่อสถานีที่ถูกคัดออกทั้งหมด (45 สถานี) ---
--------------------------------------------------
BKHN, BKK017, BLKO, BNGR, BNLG, BPTG, BSKJ, BSPN, CEHM, CGKM
CHI010, CHI013, CHNA, CPY010, CTKN, DCCT, DGSL, KKTO, KON005, LMSK
MEWG, MMMO, MNRM, NAPK, NASW, NEAK, NGCG, NGPI, NKSG, NNPT
NPI002, PAS008, PMPN, PRN001, PSLT, SGKW, SKE001, SKM004, SLA002, TPI007
TUKW, VLGE33, WAN005, YCUM, YOM001
--------------------------------------------------

       Node  actual_days  missing_ratio
208  NPI002           15      91.847826
356  WAN005           36      80.434783
68   CHI010           42      77.173913
77     CHNA           46      75.000000
47     BPTG           51      72.282609
20   BKK017           53      71.195652
243    PSLT           54      70.652174
241  PRN001           56      69.565217
376    YCUM           56      69.565217
220  PAS008           57      69.021739
342    TUKW           61      66.847826
31     BNGR           63      65.760870
182    NAPK           69      62.500000
51     BSKJ           74      59.782609
71   CHI013           75      59.239130
183    NASW           77      58.152174
163    MEWG           77      58.152174
204    NNPT           81      55.978261
61     CEHM           84      54.347826
97     DGSL           87      52.717391
16     BKHN           94      48.913043
378  YOM001           99      46.195652
96     DCCT          102      44.565217
37     BNLG          110      40.217391
167    MNRM          117      36.413043
232    PMPN          118      35.869565
53     BSPN          119      35.326087
63     CGKM          119      35.326087
269  SKM004          122      33.695652
185    NEAK          127      30.978261
95     CTKN          129      29.891304
190    NGPI          130      29.347826
259    SGKW          136      26.086957
262  SKE001          137      25.543478
351  VLGE33          138      25.000000
196    NKSG          138      25.000000
330  TPI007          138      25.000000
139  KON005          139      24.456522
89   CPY010          142      22.826087
26     BLKO          143      22.282609
187    NGCG          144      21.739130
155    LMSK          145      21.195652
165    MMMO          146      20.652174
131    KKTO          147      20.108696
271  SLA002          147      20.108696

ข้อ5

In [60]:
# --- ข้อ 5: แทนค่า Median (Imputation)  ---

#  คำนวณ Median จากข้อมูลในอดีต
hist_median = df_hist.groupby(['station_code', 'doy'])['data'].median().reset_index()
hist_median.columns = ['Node', 'doy', 'median_rain']


# และต้องแน่ใจว่าใช้ df_ready
df_imputed = pd.merge(df_ready, hist_median,
                      left_on=['tele_station_oldcode', 'doy'],
                      right_on=['Node', 'doy'],
                      how='left')

#  เติมค่าว่างเฉพาะจุดที่มี Missing (Imputation)
df_imputed['rainfall_value'] = df_imputed['rainfall_value'].fillna(df_imputed['median_rain'])

In [62]:
print(df_imputed['rainfall_value'].isnull().sum())

0

ข้อ6

เลือกใช้ค่า Median ในการเติมข้อมูล เพราะข้อมูลปริมาณน้ำฝนกระจายไม่สมมาตรและมักมีค่าสูงผิดปกติในวันที่ฝนตกหนัก หากใช้ Mean ค่าจะถูกดึงให้สูงเกินจริง แต่ Median ไม่ค่อยได้รับผลกระทบจากค่าที่สูงผิดปกติ จึงสะท้อนปริมาณฝนปกติของแต่ละสถานีได้แม่นยำมากกว่า

ข้อ7

In [57]:
# --- ข้อ 7: คำนวณผลรวมรายเดือนให้ตรงตามรูปแบบ Output ---

# 1. สร้างคอลัมน์เดือนและปี
df_imputed['month'] = df_imputed['rainfall_datetime'].dt.month
df_imputed['year'] = 2025

# 2. รวมกลุ่มข้อมูล (Groupby) เพื่อหาผลรวมน้ำฝน
# เปลี่ยนชื่อคอลัมน์ให้เป็น 'rain' ตามตัวอย่างอาจารย์
final_summary = df_imputed.groupby(['tele_station_oldcode', 'month', 'year'])['rainfall_value'].sum().reset_index()
final_summary.columns = ['Node', 'month', 'year', 'rain']

# 3. จัดลำดับคอลัมน์ให้ตรงตามรูป (Node, rain, month, year)
final_output = final_summary[['Node', 'rain', 'month', 'year']]

# 4. เรียงข้อมูลตามสถานีและเดือน
final_output = final_output.sort_values(['Node', 'month'])

print("--- ผลลัพธ์สุดท้ายตามรูปแบบที่กำหนด ---")
display(final_output.head(10))

# 5. บันทึกไฟล์เพื่อส่งงาน
final_output.to_csv('final_monthly_rainfall_2025.csv', index=False)

--- ผลลัพธ์สุดท้ายตามรูปแบบที่กำหนด ---

   Node   rain  month  year
0  ACRU   83.0      7  2025
1  ACRU  164.6      8  2025
2  ACRU  223.8      9  2025
3  ACRU   72.0     10  2025
4  ACRU   53.6     11  2025
5  ACRU    0.2     12  2025
6  BBHN  390.6      7  2025
7  BBHN  537.4      8  2025
8  BBHN  619.0      9  2025
9  BBHN  197.6     10  2025

In [58]:
# --- ขั้นตอนการบันทึกไฟล์ลง Google Drive เพื่อเอา Link ไปส่ง ---

# 1. กำหนดโฟลเดอร์ปลายทางใน Drive ของคุณ (ใช้โฟลเดอร์เดียวกับงานวิจัยนี้)
path_output_drive = '/content/drive/MyDrive/BSC_DPDM2025/mid/final_monthly_rainfall_2025.csv'

# 2. บันทึกไฟล์จากตาราง final_output ลงใน Drive โดยตรง
final_output.to_csv(path_output_drive, index=False, encoding='utf-8-sig')

print(f"✅ บันทึกไฟล์ลง Google Drive เรียบร้อยแล้วที่ path: {path_output_drive}")

✅ บันทึกไฟล์ลง Google Drive เรียบร้อยแล้วที่ path: /content/drive/MyDrive/BSC_DPDM2025/mid/final_monthly_rainfall_2025.csv

https://drive.google.com/drive/folders/10X5Nj3kYFQapZSqadQVaK5XCgWYa2PKh?usp=sharing